<div class="container">
    <div class="card-header">
        <h3>Ordenes de salida emitidas</h3>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cantidad</th>
                    <th>Fecha de emisión</th>
                    <th>Estatus</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders" class="text-center">
                    <td>{{order.num_order}}</td>
                    <td>{{order.cantidad}}</td>
                    <td>{{order.fecha_emision}}</td>
                    <td>{{order.status}}</td>
                    <td>
                        <div class="col"><button (click)="EditarO(order)" class="btn btn-warning">Editar</button></div>
                        <br/>
                        <div class="col"><button (click)="DeleteO(order)" class="btn btn-danger">Delete</button></div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
